<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cys.fmmall.dao.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.cys.fmmall.entity.ShoppingCart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="cart_num" jdbcType="VARCHAR" property="cartNum" />
    <result column="cart_time" jdbcType="VARCHAR" property="cartTime" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="sku_props" jdbcType="VARCHAR" property="skuProps" />
  </resultMap>







  <resultMap id="BaseResultMapVO" type="com.cys.fmmall.entity.ShoppingCartVO">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="cart_num" jdbcType="VARCHAR" property="cartNum" />
    <result column="cart_time" jdbcType="VARCHAR" property="cartTime" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="sku_props" jdbcType="VARCHAR" property="skuProps" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="url" jdbcType="VARCHAR" property="productImg" />
    <result column="original_price" jdbcType="VARCHAR" property="originalPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />

  </resultMap>

  <select id="selectShopcartByUserId" resultMap="BaseResultMapVO">
    SELECT c.cart_id,
    c.product_id,
    c.sku_id,
    c.user_id,
    c.cart_num,
    c.cart_time,
    c.product_price,
    c.sku_props,
    p.product_name,
    i.url,
    s.original_price,
    s.sell_price,
    s.sku_name
    FROM shopping_cart c
    INNER JOIN product p
    INNER JOIN product_img i
    INNER JOIN product_sku s
    ON c.product_id = p.product_id
    AND p.product_id = i.item_id
    AND c.sku_id = s.sku_id
    WHERE c.user_id = 1 AND i.is_main = 1
  </select>


  <update id="updateCartnumByCartid">
    update shopping_cart set cart_num = #{cartNum} where cart_id=#{cartId}
  </update>
  <resultMap id="BaseResultMapVO2" type="com.cys.fmmall.entity.ShoppingCartVO">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="cart_num" jdbcType="VARCHAR" property="cartNum" />
    <result column="cart_time" jdbcType="VARCHAR" property="cartTime" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="sku_props" jdbcType="VARCHAR" property="skuProps" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="url" jdbcType="VARCHAR" property="productImg" />
    <result column="original_price" jdbcType="VARCHAR" property="originalPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="stock" property="skuStock" />
  </resultMap>


  <select id="selectShopcartByCids" resultMap="BaseResultMapVO2">
    SELECT c.cart_id,
    c.product_id,
    c.sku_id,
    c.user_id,
    c.cart_num,
    c.cart_time,
    c.product_price,
    c.sku_props,
    p.product_name,
    i.url,
    s.original_price,
    s.sell_price,
    s.sku_name,
    s.stock
    FROM shopping_cart c
    INNER JOIN product p
    INNER JOIN product_img i
    INNER JOIN product_sku s
    ON c.product_id = p.product_id
    AND p.product_id = i.item_id
    AND c.sku_id = s.sku_id
    WHERE i.is_main = 1 AND c.cart_id IN
    <foreach close=")" collection="cids" item="cid" open="(" separator=",">
      #{cid}
    </foreach>
  </select>

</mapper>